.main{
  width: 360px;
  height: 550px;
  flex-direction: column;
  display: flex;
}

.title{
  width: 100%;
  height: 100px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items:center;
  
}

h2{
  font-weight: 900;
}

.selectArea{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox{
  width: 150px;
  height: 50px;
  border-radius: 0.525rem;
}

.selectBox:hover{
  border: 3px solid #000;
}

.weatherInfo{
  width: 360px;
  height: 300px;
  overflow-x: auto;
  white-space: nowrap;
}

/* 스크롤바 스타일링 (크롬, 사파리, 오페라 한정)*/
.weatherInfo::-webkit-scrollbar {
  width: 10px;
}
.weatherInfo::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.weatherInfo::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

p{
  font-size: 10pt;
}


/*
 * 날씨정보를 불러오는 곳
 */
.weatherBlock{
  width: 200px;
  height : auto;
  display: inline-block;
  background-color: #ffffff;
  padding: 5px;
}
