.mainGrid {
  width: 1366px;
  height: 750px;
  display: grid;
  grid: 
    "header" 0.5fr
    "body" 1fr
    "footer" 0.3fr
    / 1fr;
  grid-gap: 16px;
}

/*=========================   head   =========================*/
.header {
  grid-area: header;
}

/*=========================   head   =========================*/

/*=========================   body   =========================*/
.body {
  grid-area: body;

}

.weatherInfo{
  width: 1000px;
  height: 400px;
  overflow-x: auto;
  white-space: nowrap;
}


/*=========================   body   =========================*/
.footer {
  grid-area: footer;
}

.mainGrid > div {
  background: #fafafa;
}


.weatherBlock{
  width: auto;
  height : auto;
  display: inline-block;
  background-color: #e3f7ff;
  padding: 10px;
  margin: 10px;
}
