.mainGrid {
  width: 1000px;
  height: 750px;
  display: grid;
  grid: 
    "header" 0.5fr
    "body" 1fr
    "footer" 0.3fr
    / 1fr;
  grid-gap: 16px;
}

/*=========================   head   =========================*/
.header {
  grid-area: header;
}

/*=========================   head   =========================*/

/*=========================   body   =========================*/
.body {
  grid-area: body;

}

.weatherInfo{
  width: 1000px;
  height: 400px;
  overflow-x: auto;
  white-space: nowrap;
}

/* 스크롤바 스타일링 (크롬, 사파리, 오페라 한정)*/
.weatherInfo::-webkit-scrollbar {
  width: 10px;
}
.weatherInfo::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.weatherInfo::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}



/*=========================   body   =========================*/
.footer {
  grid-area: footer;
}

.mainGrid > div {
  background: #ffffff;
}


.weatherBlock{
  width: 250px;
  height : auto;
  display: inline-block;
  background-color: #ffffff;
  padding: 10px;
}
