<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/errorpage.js"></script>
    <link href="/css/errorpage.css" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="text">
        <h2>Error</h2>
        <h3>오류가 발생하였습니다.</h3>
      </div>
    </div>
  </body>
</html>