.main{
  width: 360px;
  height: 550px;
  border: 1px solid #000;
  flex-direction: column;
  display: flex;
  justify-content: start;
}

.text{
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}